@model IEnumerable<Store.Models.Product>
<div class="content">
    <div class="row">
        <div class="col-md-2 class="content">
            <a href="@Url.Action("SearchProducts", "Headings", new { id = -1 })" class="button">
                <span>All Products</span>
            </a>
            @if (ViewBag.HeadingsList != null)
            {
                foreach (var item in ViewBag.HeadingsList)
                {
                    <a href="@Url.Action("SearchProducts", "Headings", new { id = (int)item.Id })" class="button">
                        <span>@item.Name</span>
                    </a>
                }
            }
        </div>
        <p>
            @Html.ActionLink("От Дорогих к дешевым", "SearchProducts", "Headings", new { temp = 1, id = ViewBag.HeadingId }, null)
            @Html.ActionLink("От Дешевых к дорогим", "SearchProducts", "Headings", new { temp = 2, id = ViewBag.HeadingId }, null)
            @*@Html.ActionLink("По популярности", "SearchProducts", "Headings", new { temp = 3, id = ViewBag.HeadingId }, null)*@
        </p>
        <div class="content col-md-7">
                @foreach (var item in Model)
            {
                    <div style="display:inline-block;text-align:center;">
                        <div>
                            <a href="@Url.Action("Details", "Products", new { id = @item.Id })"><img src="@item.Images.ToList()[0].Path" height="200" width="200" /></a>
                        </div>
                        <div>
                            <p>Name: @Html.DisplayFor(modelItem => item.Name)</p>
                        </div>
                        <div>
                            <p>Count: @Html.DisplayFor(modelItem => item.Count)</p>
                        </div>
                        <div>
                            <p>Price: @Html.DisplayFor(modelItem => item.Price)</p>
                        </div>
                        <div>
                            <p style="overflow: hidden; text-overflow: ellipsis;width:200px;text-align:center;">
                              Description:  @item.Description
                            </p>
                        </div>
                        <div>
                            @Html.ActionLink("Добавить в Корзину", "AddProduct", "Baskets", new { id = item.Id }, null)
                        </div>
                        @if (Request.Cookies["AddProductOrder"] != null)
                {
                            <div>
                                @Html.ActionLink("Добавить в Заказ", "AddProductInOrder", "Orders", new { id = item.Id }, null)
                            </div>
                        }
                    </div>
                }
        </div>
        <div class="col-md-1">
            <form method="post" action="/Home/SearchProducts">
                <table>
                    <tr>
                        <td><input type="text" name="ProdName" /> </td>
                        <td><input type="submit" value="Поиск" /> </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>
