<!DOCTYPE html>
@*@model IEnumerable<Store.Models.Headings>*@
<html>
<head>
    <style>
        .content {
            width: 1100px;
            margin: 0 auto;
            position: relative;
            background-color: #f9f8f5;
            background: -webkit-linear-gradient(top,#f9f8f5,#f6f3ec);
            background: -moz-linear-gradient(top,#f9f8f5,#f6f3ec);
            background: -ms-linear-gradient(top,#f9f8f5,#f6f3ec);
            background: -o-linear-gradient(top,#f9f8f5,#f6f3ec);
            background: linear-gradient(top,#f9f8f5,#f6f3ec);
        }
    </style>
    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="content">
        <div class="navbar navbar-inverse navbar-fixed-top content">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="content">
                <a href="@Url.Action("Index", "Home")" class="button">
                    <span>Домашняя страница</span>
                </a>
                <a href="@Url.Action("Contact", "Home")" class="button">
                    <span>Контакты</span>
                </a>
                <a href="@Url.Action("PaymentAndDelivery", "Home")" class="button">
                    <span>Оплата и Доставка</span>
                </a>
                <a href="@Url.Action("AddProduct", "Baskets")" class="button">
                    <span>Корзина</span>
                </a>
       </div>
            <div >
                @RenderBody()
                <hr />
                <footer>
                </footer>
            </div>


            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </div>
</body>
</html>
