@model Store.Models.Product
@using Store.Models

@{
    ViewBag.Title = "Details";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<div class="content">
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Action("SearchProducts", "Headings", new { id = -1 })" class="button">
                <span>All Products</span>
            </a>
            @if (ViewBag.HeadingsList != null)
            {
                foreach (var item in ViewBag.HeadingsList)
                {
                    <a href="@Url.Action("SearchProducts", "Headings", new { id = (int)item.Id })" class="button">
                        <span>@item.Name</span>
                    </a>
                }
            }
        </div>

        <div class="col-md-6 col-md-offset-2">
            <dl class="dl-horizontal">
                @*<dd ><img src="@Model.Images.ToList()[0].Path" height="200" width="200" /></dd>
                @if (Model.Images.ToList().Count > 1)
            {
                for (var i = 0; i < Model.Images.ToList().Count; i++)
                {
                        <dt></dt>
                        <dd><img src="@Model.Images.ToList()[i].Path" height="200" width="200" /></dd>
                    }
                }*@
                <div>
                    <a href="@Url.Action("Details", "Products", new { id = Model.Id })"><img src="@Model.Images.ToList()[0].Path" height="200" width="200" /></a>
                </div>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Count)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Count)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
            <div>
                <div>@Html.ActionLink("Добавить в Корзину", "AddProduct", "Baskets", new { id = Model.Id }, null)</div>
            </div>
            @if (Request.Cookies["AddProductOrder"] != null)
            {
                <div>
                    @Html.ActionLink("Добавить в Заказ", "AddProductInOrder", "Orders", new { id = Model.Id }, null)
                </div>
            }
            <div id="comments">
                <table class="table">

                    @foreach (var item in ViewBag.Comment)
            {
                        <tr>
                            <td>
                                @item.Commen_Name
                                @*@Html.Display((string)item.Commen_Name)*@
                            </td>
                            <td>
                                @*@Html.Display((string)item.Comment_Text)*@
                                @item.Comment_Text
                            </td>
                            <td>
                                @*@Html.Display((string)item.Date.ToLongDateString())*@
                                @item.Date.ToLongDateString()
                            </td>
                            @if (User.IsInRole("Admin"))
                {
                                <td>
                                    @Ajax.ActionLink("Delete", "DeleteComment", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "comments" })
                                </td>
                            }
                        </tr>
                    }

                </table>
            </div>

            @using (Ajax.BeginForm("SendComment", new AjaxOptions { UpdateTargetId = "comments" }))
            {
                <br />
                <p>Имя:</p>
                @Html.TextBox("NameUser");
                <br />
                <p>Ваш комментарий:</p>
                @Html.TextArea("CommentUser");
                <input name="IdProduct" value="@Model.Id" hidden />
                <br />
                <input type="submit" value="Отправить" />
            }
        </div>
    </div>

</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
