@model Store.Models.Product
@using Store.Models
<style>
    .product {
        border: 1px solid #b5e9a7;
        border-radius: 3px;
        background: #fff;
        text-decoration: none;
        color: #474747;
        z-index: 0;
        text-align: center;
    }
</style>
@{
    ViewBag.Title = "Details";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<div class="content">
    <div class="row">
        <div class="col-md-2">
            @if (ViewBag.HeadingsList != null)
            {
                <a href="@Url.Action("SearchProducts", "Headings", new { id = -1 })" class="button xbox">
                    <span>Все продукты</span>
                </a>
                foreach (var item in ViewBag.HeadingsList)
                {
                    <a href="@Url.Action("SearchProducts", "Headings", new { id = (int)item.Id })" class="button xbox">
                        <span>@item.Name</span>
                    </a>
                }
            }
        </div>

        <div class="col-md-3 product">
            <dl class="dl-horizontal">
                @*<dd ><img src="@Model.Images.ToList()[0].Path" height="200" width="200" /></dd>
                @if (Model.Images.ToList().Count > 1)
            {
                for (var i = 0; i < Model.Images.ToList().Count; i++)
                {
                        <dt></dt>
                        <dd><img src="@Model.Images.ToList()[i].Path" height="200" width="200" /></dd>
                    }
                }*@
                <div>
                    <a href="@Url.Action("Details", "Products", new { id = Model.Id })"><img src="@Model.Images.ToList()[0].Path" height="200" width="200" /></a>
                </div>
                @*<dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>*@

                <div>
                    @Html.DisplayFor(model => model.Name)
                </div>

                @*<dt>
                    @Html.DisplayNameFor(model => model.Count)
                </dt>*@

                @*<div>
                    @Html.DisplayFor(model => model.Count)
                </div>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>*@

                <div>
                    <p>@Html.DisplayFor(model => model.Price) грн.</p>
                </div>
                @*<dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>*@
                

            <div style="margin-left:30px;">
                <p style="margin-left:-30px;">Описание товара:</p>
                <p style="word-wrap: break-word; overflow: auto ;width:200px;">
                   @Model.Description
                </p>
            </div>

            </dl>
            <div>
                <div>@Html.ActionLink("Добавить в Корзину", "AddProduct", "Baskets", new { id = Model.Id }, new { @class = "button" })</div>
            </div>
            @if (Request.Cookies["AddProductOrder"] != null)
            {
                <div>
                    @Html.ActionLink("Добавить в Заказ", "AddProductInOrder", "Orders", new { id = Model.Id }, new { @class = "button" })
                </div>
            }

            </div>
        <div class="col-md-4 col-md-offset-2">

            <div id="comments">
                <table class="table">

                    @foreach (var item in ViewBag.Comment)
            {
                        <tr>
                            <td>
                                @item.Commen_Name
                                @*@Html.Display((string)item.Commen_Name)*@
                            </td>
                            <td>
                                @*@Html.Display((string)item.Comment_Text)*@
                                <p style="word-wrap: break-word; overflow: auto ;width:200px;">
                                    @item.Comment_Text
                                </p>
                            </td>
                            <td>
                                @*@Html.Display((string)item.Date.ToLongDateString())*@
                                @item.Date.ToLongDateString()
                            </td>
                            @if (User.IsInRole("Admin"))
                {
                                <td>
                                    @Ajax.ActionLink("Удалить", "DeleteComment", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "comments" })
                                </td>
                            }
                        </tr>
                    }

                </table>
            </div>

            @using (Ajax.BeginForm("SendComment", new AjaxOptions { UpdateTargetId = "comments" }))
            {
                <br />
                <p>Имя:</p>
                @Html.TextBox("NameUser");
                <br />
                <p>Ваш комментарий:</p>
                @Html.TextArea("CommentUser");
                <input name="IdProduct" value="@Model.Id" hidden />
                <br />
                <input type="submit" value="Отправить" class="button"/>
            }
        </div>
    </div>

</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
