@model IEnumerable<Store.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model)
{
    <div style="margin-top:20px; overflow:hiden" class="div_list_element">
        <form method="get" action="index1.php">
            <input type="submit" value="@item.Name" style="margin-top:5px;"></input>
        </form>
        <div>
            <p style="margin-top:-10px;">Цена: @item.Price грн<p>
        </div>
        @*<img src="@item.Images.ToList().First().Path" />*@
        <div>
            <p style="margin-top:0px;">Описание:</p>
            <p style="margin-top:-10px;">@item.Description</p>
        </div>
    </div>
}

</table>
