@model IEnumerable<Store.Models.Count>
@{
    Layout = null;
}
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountProduct)
        </th>
        <th></th>
        <th></th>
    </tr>*@

    @foreach (var item in Model)
    {
        <tr id="@((string)"tr"+@item.Id.ToString())">
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <img src="@item.Product.Images.ToList()[0].Path" height="200" width="200" />
            </td>
            <td>
                <p>Количество: </p>
                <button type="button" onclick="Add(@((int)item.CountProduct-1), @item.Product.Count, @item.Id)">-</button>
                <input onchange="Add(this.value, @item.Product.Count, @item.Id)" type="text" id="@((string)"Count"+@item.Id.ToString())" value="@item.CountProduct" />
                <button type="button" onclick="Add(@((int)item.CountProduct+1), @item.Product.Count, @item.Id)">+</button>
            </td>
            <td><p>Общая сумма по товару: </p><label id="@((string)"Price"+@item.Id.ToString())">@(item.CountProduct * item.Product.Price)</label></td>
            <td>
                @Ajax.ActionLink("Удалить", "DeleteProduct", new { id = @item.Id }, new AjaxOptions { UpdateTargetId = "table" }, new { @class = "button" })
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td><p>Общая сумма заказа: </p></td>
        <td id="Total">@ViewBag.Total</td>
        <td></td>
    </tr>
</table>

