@model IEnumerable<Store.Models.CartLine>

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddProduct</h2>


<table class="table">
  

@foreach (var item in ViewBag.List) {
    <tr>
        <td>
            @item.Product.Name 
        </td>
        <td>
            @item.Product.Price
        </td>
        <td>
            @Html.ActionLink("-", "ChengeQuantity", "Baskets", new { id = (int)item.Product.Id , flag = true }, null)
        </td>
        <td>
            @item.Quantity
        </td>
        <td>
            @Html.ActionLink("+", "ChengeQuantity", "Baskets", new { id = (int)item.Product.Id , flag = false}, null)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteProduct", "Baskets", new { id = (int)item.Product.Id },null) 
        </td>
    </tr>
}
    <tr>
        <td>
            <p>Total: @ViewBag.Price</p>
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Order", "Order", "Baskets")
        </td>
    </tr>
</table>